/* styles.css */

* {
    background-color: rgb(0, 95, 95);
}
#main {
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    border-style: double;
    border-color: rgb(0, 95, 95);
    border-width: 20px;
    border-radius: 100px;
    background-color: rgb(118, 226, 226);
    margin: 100px;
    margin-bottom: 0px;
    font-size: 75px;
    color: teal;
}

.home {
    display: flex;
    justify-content: center;
    border-style: double;
    border-color: rgb(0, 95, 95);
    border-radius: 30px;
    border-width: 20px;
    background-color: rgb(118, 226, 226);
    margin-top: 50px;
}

.link {
    padding: 10px 50px;
    margin: 10px;
    border-bottom: 5px;
    background-color: rgb(0, 95, 95);
    border-radius: 100px;
    border-color: aliceblue;
    border-width: 2px;
    border-style: double;
    color: white;
    flex: 1;
    text-align: center;
    min-width: 0;
}

a {
    color: white;
    background-color: rgb(0, 95, 95);
}

body { 
    text-align: left;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}